@import url('https://fonts.googleapis.com/css?family=NTR')
@import 'icomoon.styl'

*
	margin 0
	padding 0
	font-family 'NTR'

.mensaje 
	width 100%
	margin 0 auto
	text-align center
	color #999			
	
body	
	
	header
		border-bottom 1px solid rgba(0,0,0,0.1)
		padding  1em 3em 0.2em 3em
		
		h1, a, figure
			display inline-block
			vertical-align middle
			padding 0
			
		a 
			float right
			font-size 20px
			padding 0.5em 0 0 0
			text-transform uppercase
			transition all 0.3s linear
			text-decoration none
		
		a:hover
			color #777
		
		figure
			width 120px 
			margin 0 2em 0.6em 0
			
			img 
				width 100%
	
	#login
		text-align center
		border 0
		
		h1, a, figure
			display block
		
		figure
			margin 0 auto
			width 250px
		
		h1 
			font-size 25px
			padding 1em 0 0 0
	
	#inicio
		width 300px
		margin 4em auto 0 auto
		padding 1em 2em
		
		input
			display block 
			width 100%
			padding 0.5em 0.7em
			border-radius 0.3em
			border 1px solid rgba(0,0,0,0.3)
			margin 0 0 0.5em 0
			background white
		
		input[type='submit']
			color #0000AA
			text-transform uppercase
	
	.leds
		text-align center
		padding 2em 0
		
		p 
			font-size 30px
			color #666		
			
		li 
			display inline-block
			vertical-align middle
			width 20px
			height 20px
			border 1px solid rgba(0,0,0,0.3)
			border-radius 50%
			margin 0 0.5em
			cursor pointer
			transition all 0.3s linear
		
		li:hover
			border 1px solid black
		
		.encendido
			background orange
		
		.rojo
			background red
		
		.verde
			background green
		
		.azul
			background blue
	
	/*#secuencias
		text-align center		
		
		select
			width 300px
			margin 0 auto
			*/
	#texto, #imagen, #secuencias, #audio
		width 300px 
		margin 2em auto 0 auto
		text-align center
		
		p
			font-size 30px
			color blue	
	
	#imagen, #audio
		width 375px
	
	#ver_imagen
		width 250px
		height 250px		
		margin 0 auto
		
		img 
			width 100%			
	
	#reproductor
		margin 2em auto 
		width 200px
		text-align center
		
		li 
			display inline-block
			vertical-align middle
			font-size 50px 
			color #999
			transition all 0.3s linear
			cursor pointer
		
		li:hover
			color #3F8DF5
		
		.activo 
			color #222
		
		span 
			display block